html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: 'Press Start 2P', cursive;

}

body {
  background-color: #333333;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #f5b201;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  background-image: url('/public/images/90668.jpg');
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;;
  background-color: #989898;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #329900;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color:#01009a;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

#landing-container {
  flex-direction: column;
  align-items: center;
  background-image: url(../images/90668.jpg);
  background-position: center;
  background-size: cover;
  font-size: 16px;
}