ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  align-items: center;
}

section div:nth-child(even) {
  font-weight: bold;
}