html {
  box-sizing: border-box;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  background-color: charcoalgre;
  color: #f6f6f6;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}
