html {
  box-sizing: border-box
}


*, 
*::before, 
*::after { 
  box-sizing: inherit;
  font-family: 'Press Start 2P', cursive;

}

body {
  background-color: black;
  margin: 0;
  color: #f5b201;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}



body > nav {
  grid-area: nav;
  background-color: #989898;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #01009a;
}

nav > a:hover {
  color: #069330;
  background-color: black;
}

nav > a.active {
  color: #FC0321;
}



#landing-container {
  flex-direction: column;
  align-items: center;
  background-image: url(../images/90668.jpg);
  background-position: center;
  background-size: cover;
  font-size: 16px;
}

.gif{
  height: 300px;
  width: 300px;
  margin-top: 250px;
}